@import url(routes.css);
@import url(modal_application.css);
@import url(modal_excursion.css);
@import url(modal_info.css);


/* ----------------------------------------------------------------------- */
.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: #121214;
    line-height: 130%;
    margin: 0 auto;
}

.body--open-menu {
    overflow: hidden;
}

.body_application-open {
    overflow: hidden;
}

.body_excursion-open {
    overflow: hidden;
}

.body__info-open {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 70px;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: #1212148f;
    opacity: 0;
    visibility: hidden;
}

.overlay--show {
    opacity: 1;
    visibility: visible;
}

.button {
    border-radius: 9px;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
}

/* ============================================================== */
/* ====================== header_background ===================== */

.header {
    content: ""; 
    background: url("../images/background/bg-nav.jpg") 0 0 / 100% no-repeat;
    animation: changing 10s infinite;
    background-size: cover;
}

@keyframes changing {
    0% {
        background: url("../images/background/bg-nav.jpg") 0 0 / 100% no-repeat;
        background-size: cover;
    }
    50% {
        background: url("../images/background/bg-nav2.jpg") 0 0 / 100% no-repeat;
        background-size: cover;
    }
}

/* ====================== header_top ============================= */

.header_top {
    margin-bottom: 108px;
}

.container {
}

.header_top-inner {
    display: flex;
    padding-top: 12px;
}

.header_logo {
    margin-right: auto;
}

.nav {
    display: flex;
}

.nav_inner {
    padding-top: 27px;
    padding-right: 58px;
}

.nav_list {
    display: flex;
    gap: 50px;
    white-space: nowrap;
}

.nav_item {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 104.7%; 
    text-transform: uppercase;
    transition: all .4s;
}

.nav_item:hover {
    color:  #037E8C;;
} 

.connect {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 24px;
    white-space: nowrap;
}

.connect_number {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 104.7%;
    letter-spacing: 0.4px;
}

.phone-icon {
    margin-right: 14px;
}

.connect_number:hover {
    color: #037E8C;
    transition: all .4s;
}

.connect_btn {
    width: 177px;
    height: 40px;
    margin-top: 11px;
    background: #ffffff66;
    color: #fff;
    line-height: 104.7%;
    letter-spacing: 0.28px;
}

.connect_btn:hover { 
    background: #037E8C;
    transition: all .4s;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
    margin-top: 30px;
}

.burger-icon span {
    position: relative;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    width: 45px;
    height: 6px;
    background: #fff;
    border-radius: 50px;
}

.burger-icon span::before,
.burger-icon span::after {
    position: absolute;
    content: "";
}

.burger-icon span::before {
    bottom: 12px;
}

.burger-icon span::after {
    top: 12px;
}

.body--open-menu .burger-icon span {
    background: transparent;
}

.body--open-menu .burger-icon span::before {
    bottom: 0;
    transform: rotate(45deg);
}

.body--open-menu .burger-icon span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* ============================================================= */
/* ======================== header_lower ======================= */

.header_lower-inner {
    max-width: 644px;
}

h1 {
    margin-bottom: 37px;
    color: #FFF;
    font-size: 70px;
    font-weight: 800;
    line-height: 125.5%;
    letter-spacing: 3.15px;
}

.header_lower-text {
    margin-bottom: 82px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 108.7%;
}

.header_lower-bth {
    position: relative;
    margin-bottom: 192px;
    padding: 19px 75px 19px 23px;
    background: #037E8C;
    color: #fff;
    font-size: 16px;
    line-height: 108.7%;
}

.header_lower-bth::after {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    background: url("../images/icons/arrow.svg") 0 0 / 100%;
    top: 12px;
    right: 12px;
}

/* ======================== main ========================= */
/* ======================== services ===================== */

.services_inner {
    display: flex;
    gap: 3vh;
    padding-top: 47px;
    padding-bottom: 47px;
}

.excursions {
    width: 302px;
    padding-right: 23px;
}

.excursions-title {
    padding-top: 21px;
    padding-bottom: 22px;
    font-size: 18px;
    font-weight: 600;
    line-height: 108.7%;
    white-space: nowrap;
}

.excursions-text {
    font-weight: 400;
}

/* ============================================================= */


















/* ================================ MEDIA ================================ */
/* ================================ MEDIA ================================ */

@media (max-width: 1350px) {

    /* --------------------------- */
    .modal_application_window {
        padding: 0;
        width: 60vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal_application_title {
        margin-left: -137px;
    }
}

@media (max-width: 1200px) {
    .container {
        padding: 0px 50px;
    }
    .header_top-inner {
        flex-wrap: wrap;
    }

    .nav_inner {
        padding-right: 18px;
    }

    .nav_list {
        gap: 35px;
    }

    .connect {
        position: absolute;
        top: 60px;
        right: 70px;
    }

    .services_inner {
        gap: 7vh;
    }

    .excursions-title {
        white-space: wrap;
    }

    /* ------------------------------- */
    .route-description {
        padding-right: 10px;
    }

    .route-description--extended {
        padding-right: 37px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        padding: 115px 50px;
        background: #4c5759;
        flex-direction: column;
        align-items: flex-start;
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        transition: all .6s;
    }

    .nav_list {
        flex-direction: column;
        align-items: flex-start;
        gap: 4vh;
    }
    
    .nav_item  {
        font-size: 16px;
    }

    .connect {
        position: static;
        align-items: flex-start;
        padding-top: 70px;
    }

    .connect_btn {
        width: 210px;
        background: rgb(151, 163, 177);
    }

    .body--open-menu .nav{
        transform: translateX(50%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .services_inner {
        gap: 3vh;
    }

    .excursions {
        padding-right: 17px;
    }

    /* ------------------------------- */
    .route-title::before {
        content: none;
    }

    .route-description {
        padding-left: 50px;
    }

    .route-description--extended {
        padding-left: 50px;
        padding-right: 10px;
    }


    /* --------------------------------- */
    .modal_application_close {     
        top: 7px;
        right: 7px;
    }
    .modal_application_close path {
        fill: #037E8C;
    }
}

@media (max-width: 750px) {
    .header_logo {
        z-index: 11;
    }

    .body--open-menu .nav{
        transform: translateX(0%);
    }

    .nav {
        justify-content: space-evenly;
        align-items: center;
    }

    .nav_list {
        align-items: center;
    }
    

    h1 {
        font-size: 50px;
    }

    .excursions {
        padding-right: 3px;
    }

    .excursions-title {
        font-size: 16px;
    }

    .excursions-text {
        display: none;
    }

    /* ---------------slide---------------*/
    .route {
        display: block;
        padding-bottom: 80px;
    }

    .route__slider {
        width: 100%;
    }

    .route-description,
    .route-description--extended {
        padding-bottom: 20px;
    }

    .swiper-pagination {
        display: none;
    }
    
    /* .route__slide {
        max-width: 200px;
        max-height: 300px;
    } */

    /* ---------------slide---------------*/

    
    .modal_application_window {
        width: 80vw;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0 25px;
    }    

    .burger-icon {
        margin-top: 15px;
    }

    .services_inner {
        gap: 1vh;
    }

    .excursions-title {
        font-size: 14px;
    }

    /* ----- наши маршруты -------- */
    .route-description,
    .route-description--extended {
        padding-left: 25px;
    }
    /* ------ slide ------ */
    .title-routes--text {
        padding-top: 30px;
        padding-bottom: 0;
    }

    .route {
        padding-bottom: 60px;
    }
    /* -------- slide ------ */
}

@media (max-width: 480px) {
    .header_logo {
        width: 70px;
    }

    .burger-icon {
        margin-top: 5px;
    }

    h1 {
        font-size: 40px;
        margin-bottom: 50px;
    }

    .header_lower-text {
        margin-bottom: 200px;
    }

    .header_lower-bth {
        width: 100%;
        margin-bottom: 100px;
    }

    .excursions-image {
        width: 50px;
    }

    .excursions-title {
        font-size: 12px;
    }
    /* -------------наши маршруты--------------- */

    .route-btn_details {
        width: 90%;
        margin-bottom: 20px;
    }

    .route-btn_book {
        width: 90%;
    }


    /* -------------------------- */
    .modal_application_window {
        width: 90vw;
    }

    .modal_application_btn {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .container {
        padding: 0 12px;
    }

    h1 {
        font-size: 33px;
    }

    .header_lower-text {
        margin-bottom: 145px;
    }

    .services_inner {
        flex-wrap: wrap;
        justify-content: space-around
    }

    .excursions {
        width: 34%;
    }

    .excursions-title {
        font-size: 14px;
    }

    /* ---------- наши маршруты ------------ */
    .routes_inner {
        padding: 0 0 118px 0;;
    }

    .title-routes--text {
        padding-top: 30px;
        padding-bottom: 32px;
        font-size: 32px;
    }

    .route-description {
        padding-left: 25px;
    }

    .route-title {
        font-size: 30px;
    }

    .route-btn_details {
        margin-top: 10px;
    }

    /* ------------------------ */
    .modal_application_window {
        width: 98vw;
    }

    .modal_application_title {
        margin-left: 0;
    }

    .input {
        width: 300px;
    }
}

