.body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    color: #121214;
    line-height: 130%;
}

.body_application-open {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 70px;
    height: 100%;
}

.button {
    border-radius: 9px;
}

/* ============================================================== */
/* ====================== header_background ===================== */

.header {
    content: ""; 
    background: url("../images/background/bg-nav.jpg") 0 0 / 100% no-repeat;
    animation: changing 10s infinite;
    height: 100vh;
}

@keyframes changing {
    0% {
        background: url("../images/background/bg-nav.jpg") 0 0 / 100% no-repeat;
    }
    50% {
        background: url("../images/background/bg-nav2.jpg") 0 0 / 100% no-repeat;
    }
}

/* ===================== header_top ============================= */

.header_top {
    margin-bottom: 108px;
}

.container {
}

.header_top-inner {
    display: flex;
    padding-top: 12px;
}

.header_logo {
    margin-right: auto;
}

.nav {
    margin-top: 27px;
    margin-right: 58px;
}

.nav_list {
    display: flex;
    gap: 50px;
}

.nav_item {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 104.7%; 
    text-transform: uppercase;
}

.nav_item:hover {
    color:  #037E8C;;
} 

.connect {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 24px;
}

.number {
    margin-left: 12px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 104.7%;
    letter-spacing: 0.4px;
}

.number:hover {
    color: #037E8C;
}

.connect_btn {
    width: 177px;
    height: 40px;
    margin-top: 11px;
    background: rgba(255, 255, 255, 0.40);
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 104.7%;
    letter-spacing: 0.28px;
}

.connect_btn:hover { 
    background: #037E8C;
}

/* ======================== modal window ===================================== */

.modal_application {
    position: fixed;
    inset: 0;
    background: rgba(18, 18, 20, 0.80);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.body_application-open .modal_application {
    opacity: 1;
    visibility: visible;
}

.modal_application_window {
    position: relative;
    padding: 82px 362px 101px;
    border-radius: 9px;
    background: #fff;
}

.modal_application_close {
    position: absolute;
    top: -72px;
    right: -116px;
    background: rgba(18, 18, 20, 0);
    
    width: 40px;
    height: 40px;
}

.modal_application_close path:hover {
    fill: #037E8C;
}

.modal_application_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
}

.modal_application_form {
    display: flex;
    flex-direction: column;
}

.application_text {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 11px;
    line-height: normal;
}

.application_input {
    width: 350px;
    height: 46px;
    border-radius: 8px;
    border: 0.5px solid #787878;
    margin-bottom: 12px;
}

.modal_application_btn {
    width: 175px;
    height: 45px;
    border-radius: 9px;
    background: #037E8C;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    margin-top: 20px;
}



/* ============================================================= */

/* ======================== header_lower ======================= */

.header_lower-inner {
    max-width: 644px;
}

h1 {
    margin-bottom: 37px;
    color: #FFF;
    font-size: 70px;
    font-weight: 800;
    line-height: 125.5%;
    letter-spacing: 3.15px;
}

.header_lower-text {
    margin-bottom: 82px;
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 108.7%;
}

.header_lower-bth {
    position: relative;
    margin-bottom: 192px;
    padding: 19px 75px 19px 23px;
    background: #037E8C;
    font-size: 16px;
    color: #FFF;
    font-weight: 600;
    line-height: 108.7%;
}

.header_lower-bth::after {
    content: "";
    position: absolute;
    width: 31px;
    height: 31px;
    background: url("../images/icons/arrow.svg") 0 0 / 100%;
    top: 11px;
    right: 12px;
}

/* ======================================================================= */
