.container {
    height: 100%;
    padding: 200px;
    background-color: bisque;
}

.title {
    font-size: 36px;
    position: relative;
}

.title::before, .title::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    top: 50%;
}

.title::before {
    right: 505px;
    background-color: blue;
}

.title::after {
    left: 220px;
    background-color: red;
}