.wrapper {
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 300px;
    background-color: aquamarine;
}

.block {
    position: fixed;
    min-height: 100px;
    left: 50vw;
    right: 50px;
    bottom: 100px;
    
    background-color: rgb(59, 120, 218);
    border-radius: 5px;
    border: 5px solid rgb(52, 106, 66);
}